body {
  font-size: 12px;
  font-family: "Microsoft YaHei";
}
.quxian {
  height: 30px;
  /*padding: 6px 12px;*/
  font-size: 12px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.padmar0 {
  padding: 0;
  margin: 0;
}
/*人事管理*/
.boxss span {
  line-height: 33px;
}
.title {
  background: #fff;
  padding-bottom: 10px;
  padding-top: 10px;
}
.suoimg {
  width: 22px;
  height: 22px;
  margin: 0 auto;
}
.suoimg img {
  width: 100%;
  height: 100%;
}
.suoimg img:hover {
  transform: scale(6);
  -webkit-transform: scale(6);
  /*Safari 和 Chrome*/
  -moz-transform: scale(6);
  /*Firefox*/
  -ms-transform: scale(6);
  /*IE9*/
  -o-transform: scale(6);
  /*Opera*/
}
.erwei {
  width: 22px;
  height: 22px;
  margin: 0 auto;
}
.erwei img {
  width: 100%;
  height: 100%;
}
.modalss {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.8);
}
.modalss_img {
  width: 300px;
  height: 300px;
  margin: 300px auto;
}
.modalss_img img {
  width: 100%;
  height: 100%;
}
.shopname {
  float: left;
}
.julis {
  margin-left: 15px;
}
.btn-green {
  background-color: #50AD92;
  color: #ffffff;
  border-color: #50AD92;
}
.btn-green:hover,
.btn-green:active,
.btn-green.hover {
  background-color: #5AC3A5;
  color: #ffffff;
}
.btn-green:visited,
.btn-green:focus {
  background-color: #489E85;
  color: #ffffff;
}
.caozuo span {
  color: #50AD92;
  margin-right: 5px;
  cursor: pointer;
}
.caozuo span:hover {
  color: #5AC3A5;
}
.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
}
.bgcolor337AB7 {
  background-color: #337AB7 !important;
  color: #fff !important;
}
/*alert*/
.mask {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99999;
  background-color: rgba(10, 10, 10, 0.3);
}
.dialog {
  width: 382px;
  height: 250px;
  position: fixed;
  top: 35%;
  left: 40%;
  background-color: #fff;
  z-index: 999999 !important;
  display: none;
}
.dialog-title {
  height: 48px;
  line-height: 48px;
  background-color: #f5f5f5;
  font-size: 1.2rem;
  font-weight: bold;
  text-indent: 1.5em;
  border-bottom: 1px solid #efefef;
  cursor: move;
}
#alertlog .dialog-title {
  height: 30px;
  line-height: 30px;
  background-color: #f5f5f5;
  font-size: 1.2rem;
  font-weight: bold;
  text-indent: 1.5em;
  border-bottom: 1px solid #efefef;
  cursor: initial;
}
.dialog-content {
  padding: 5px;
}
.dialog-hint {
  width: 100%;
  height: 40%;
  text-indent: 5rem;
  font-size: 1rem;
  line-height: 4rem;
}
#fileupload {
  position: relative;
  display: block;
  width: 100px;
  height: 32px;
  line-height: 32px;
  overflow: hidden;
  color: #72BDA7;
  text-decoration: none;
}
#cont {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 32px;
  opacity: 0;
  z-index: 1000;
}
.file {
  height: 32px;
  line-height: 32px;
  overflow: hidden;
  color: #72BDA7;
}
.tip {
  padding: 0;
  margin: 0;
  position: relative;
}
.tip .icon {
  display: block;
  height: 34px;
  line-height: 34px;
  color: red;
  font-size: 14px;
  position: absolute;
  left: -8px;
}
.modal-header {
  height: 80px;
  padding: 28px 35px;
}
#add_btn {
  background: #50AD92;
  color: #fff;
  width: 60px;
  height: 30px;
  margin-right: 36px;
}
.modal-footer {
  height: 80px;
  padding-top: 25px;
}
#audit_btn {
  padding: 0px 40px;
}
.btn-list {
  margin-right: 10px;
}
#refuse-btn {
  background: #CF5D45;
  color: #fff;
  width: 60px;
  height: 32px;
}
#turndown-btn {
  background: #EA9F34;
  color: #fff;
  width: 60px;
  height: 32px;
}
#pass-btn {
  background: #50AD92;
  color: #fff;
  width: 60px;
  height: 32px;
}
#restrpassword-btn {
  background: #EA9F34;
  color: #fff;
  width: 80px;
  height: 32px;
}
.p_t_line {
  border-top: 1px solid #ddd;
  padding-top: 24px;
}
.padmar0 {
  padding: 0;
  margin: 0;
}
.padmar5 {
  padding: 0px 0px 0px 5px !important;
  margin: 0;
}
input[type="number"] {
  text-align: center;
  padding: 0;
  margin: 0;
}
.operate {
  color: #50AD92;
}
.control-label,
.form-horizontal .checkbox,
.form-horizontal .checkbox-inline,
.form-horizontal .radio,
.form-horizontal .radio-inline {
  padding-top: 3px !important;
}
.list-group-item {
  border: 0px;
}
/*查看*/
#view-data input {
  height: 24px;
}
#view-data select {
  height: 24px;
  padding: 0;
  left: 0;
}
#view-data .control-label {
  padding-left: 0;
  padding-right: 0;
  font-size: 12px;
  font-weight: 600;
}
.add_tit {
  margin-top: 24px;
  margin-bottom: 24px;
  height: 20px;
  line-height: 20px;
  border-left: 5px solid #367FA9;
  padding: 0px 5px;
  font-size: 14px;
  font-weight: 600;
}
#view-data input[type="radio"] {
  margin-top: -2px;
}
#view-data .form-error {
  margin-top: -20px;
  padding: 2px 5px;
}
.modalssthyhf {
  padding: 20px;
  box-sizing: border-box;
}
.fontcor {
  color: #999999;
}
.bianjuli {
  padding-top: 23px;
  box-sizing: border-box;
}
.xiabianju {
  margin-bottom: 5px;
}
/*禁用*/
.control-label {
  padding-left: 0;
  padding-right: 0;
  font-size: 12px;
  font-weight: 100;
}
#forbidden-data select,#enable-data select{
  height: 24px;
  padding: 0;
  left: 0;
}
.form-error {
  margin-top: -15px;
  padding: 2px 5px;
}
.forbidden-btn {
  background: #50AD92;
  color: #fff;
  width: 60px;
  height: 32px;
  margin-right: 35px;
}
.forbidden-btn :hover {
  color: #fff;
}
/*删除*/
#delete-data .control-label {
  padding-left: 0;
  padding-right: 0;
  font-size: 12px;
  font-weight: 100;
}
#delete-data select {
  height: 24px;
  padding: 0;
  left: 0;
}
#delete-data .form-error {
  margin-top: -15px;
  padding: 2px 5px;
}
#delete-data .forbidden-btn {
  background: #50AD92;
  color: #fff;
  width: 60px;
  height: 32px;
  margin-right: 35px;
}
